<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cqu.supercalculator">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BroadsideActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/> <!-- 这里设置了在桌面上的名称 -->
            </intent-filter>
        </activity>
        <activity
            android:name=".ExchageRateActivity"
            android:label="汇率转换"
            android:parentActivityName=".BroadsideActivity">
        </activity>
        <activity
            android:name=".LengthExchangeActivity"
            android:label="长度转换"
            android:parentActivityName=".BroadsideActivity">
        </activity>
        <activity android:name=".RelativesCallActivity"
            android:label="亲戚称呼"
            android:parentActivityName=".BroadsideActivity">
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>